*{
    border: 1px solid black;
}
.container{
   width: 100%;
   height: 100vh;
   background: rgb(183, 120, 202);
}
.navigation{
    width: 100%;
    height: 50px;
    background: lightblue;
}
.navigation div{
    float: left;
    margin: 5px;
    padding: 10px;
    background: greenyellow;
}
.navigation .nav2{
    margin-right: 730px;
} 
.logo
{
    width: 100%;
    height: 200px;
    background: peru;
    text-align: center;
    font-size: 50px;
    color: white;
    line-height: 200px;
}
.searchbar{
    width: 100%;
    height: 150px;
    background: grey;
    
}
.inputbox
{
    width: 70%;
    height: 48px;
    margin:auto;
    background: white;
}
.searchicon{
    width: 30px;
    height: 100%;
    float: right;
    background: cadetblue;
    color: white;

}
.searchbutton
{
    width: 100%;
    height: 30px;
    background: white;
}
.searchbutton1,.searchbutton2{
    width: 100px;
    height: 25px;
    display: inline-block;
    text-align: center;
    margin:0 auto;
    background: rgb(183, 120, 202);
}
.center{
    text-align: center;
}
.footer{
    width: 100%;
    height: 200px;
    background: black;
    color: white;


}
.footer div{
    float: left;
    padding: 10px;
    margin: 5px;
    background: yellow;
    margin-top: 150px;
}
.footer .link2{
margin-right: 830px;